<!--  Don't edit anything here. Set your disqus id in _config.yml 
<div id="comments" class="mt-5">
    <div id="disqus_thread">
    </div>
    <script type="text/javascript">
        var disqus_shortname = '{{site.disqus}}'; 
        var disqus_developer = 0;
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = window.location.protocol + '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>
    Por favor habilite o JavaScript para ver os <a href="http://disqus.com/?ref_noscript">comentários.</a>
    </noscript>
</div>
-->

<div id="comments" class="mt-5">

<section id="relateds" class="section-bg" style="color: #2e3436; background: #fff; padding: 60px 20px;">
        <div class="container text-center">
                <h1>Comentários</h1>            
        <div id="fb-root"></div>        
                <script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v3.2&appId=439112053506193&autoLogAppEvents=1"></script>
                <div class="fb-comments" data-href="http://terminalnet.github.io{{ page.url }}" data-width="600" data-numposts="5"></div>
                <br> 

</div>
