<section id="about">
<div class="container">
   <header class="section-header">
      <h3>Aprenda e Evolua com Entendimento.</h3>
      <p>Nosso conteúdo visa a evolução profissional, com fundamento teórico, técnicas e prática funcional!</p>
      <hr>
      <p id="howto">Após aquisição do Curso enviaremos um e-mail com os dados de acesso e um rápido tutorial de utilização onde você terá acesso aos vídeos, pdfs, arquivos adicionais, questionários e certificado.<hr></p>

   </header>
   <div class="row about-container">
      <div class="col-lg-6 content order-lg-1 order-2">
         <div class="icon-box wow">
            <div class="icon"><i class="fa fa-play"></i></div>
            <h4 class="title"><a>Cursos em vídeo</a></h4>
            <p class="description">A pessoa consegue aumentar em 70% o aprendizado através de audiovisual, por isso todos cursos são em vídeos.</p>
         </div>
         <div class="icon-box wow">
            <div class="icon"><i class="fa fa-briefcase"></i></div>
            <h4 class="title"><a>Acesso vitalício</a></h4>
            <p class="description">Você poderá acessar para sempre seu conteúdo, além de conteúdo de cursos gratuitos, tutoriais, dicas e adicionais.</p>
         </div>
         <div class="icon-box wow">
            <div class="icon"><i class="fa fa-bar-chart"></i></div>
            <h4 class="title"><a>Conteúdo adicional</a></h4>
            <p class="description">Disponibilizamos um cadastro com apostilas PDF, programas e arquivos e suporte em geral .</p>
         </div>
         <div class="icon-box wow">
            <div class="icon"><i class="fa fa-address-card"></i></div>
            <h4 class="title"><a>Certificado</a></h4>
            <p class="description">Você poderá gerar seu certificado após conclusão do questionário.</p>
         </div>
      </div>
      <div class="col-lg-6 background order-lg-2 order-1 wow">
         <img src="assets/img/site/about-extra-2.png" class="img-fluid" alt="">
      </div>
   </div>

   
</div>
</section><!-- #about -->
