<section class="author" style="color: #2e3436; background: #eeeeec; padding: 60px 20px;">
    <div class="container">
    
    	<div class="row">
    	
    		<div class="col-sm-3"></div>
    		<div class="col-sm-2">
    			<img class="rounded-circle img-thumbnail" src="/assets/img/about/author.jpg" alt="Marcos Oliveira" title="Marcos Oliveira" width="200" height="200">
    		</div>
    		<div class="col-sm-6">
    			<h2>
    				<span style="font-size:20px;">Autor</span>
    				<br>Marcos Oliveira
    				<br><i style="font-size:13px;">Desenvolvedor de Software</i>
    				<br><a style="font-weight:bold;color:#204a87;font-size:18px;" href="https://www.youtube.com/TerminalRootTV?sub_confirmation=1">https://youtube.com/TerminalRootTV</a>
    			</h2>
    		</div>
    		<div class="col-sm-1"></div>
    	
		</div>
           
    </div>
</section>
