<section id="why-us" class="section-bg wow">
<div class="container">

   <header class="section-header">
      <h3>Blog</h3>
      <p>Aqui você encontra dicas, tutoriais, séries em texto e em vídeos , além de poder interagir publicando seus comentários.</p>
   </header>

   <div class="row">
      {% for post in site.posts limit:3 %}
      <div class="col-sm-4">
         <div class="box text-center" style="background:#204a87;">
            <div class="icon"><i class="fas fa-clone"></i></div>
            <h4 class="title">
            	<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h4>
            <p><i class="fas fa-calendar"></i>  {{ post.date | date_to_string }}</p>
            <p id="description"><b>{{ post.description }}</b></p>
            <p>
               <a href="{{ post.url | prepend: site.baseurl }}">
               	<button class="btn btn-saiba-mais">LEIA MAIS</button>
               </a>
            </p>
         </div>
      </div>
   {% endfor %}
   </div><!-- row -->

	<div class="more-articles text-center">
		<a href="{{ site.baseurl }}/blog">
			<button class="btn btn-saiba-mais">
			VEJA TODOS OS ARTIGOS
			</button>
		</a>
	</div>


</div>
</section>
