	<div class="container text-center comments my-0 py-0">

		<hr>

				<script src="https://utteranc.es/client.js"
				repo="TerminalRootTV/TerminalRootTV.github.io"
				issue-term="pathname"
				theme="github-dark"
				crossorigin="anonymous"
				async>
			</script>

		<hr>

		<!-- COMBAK: DISABLE DISQUS
		<div id="disqus_thread"></div>
		<script type="text/javascript">
		var disqus_shortname = 'terroo';
		var disqus_developer = 0;
		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = window.location.protocol + '//' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
		</script>
		<noscript>
			Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
		</noscript>
		 -->
	</div>
