<section id="relateds" class="section-bg" style="color: #2e3436; background: #fff; padding: 60px 20px;">
	<div class="container text-center">
	  	<h1>Comentários</h1>
	<div id="fb-root"></div>
		<script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v3.2&appId=439112053506193&autoLogAppEvents=1"></script>
		<div class="fb-comments" data-href="http://terminalroot.com.br{{ page.url }}" data-width="600" data-numposts="5"></div>
		<br>
<!--		
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-2838251107855362"
     data-ad-slot="9652691879"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
		
		<br>

		<div id="disqus_thread"></div>
		<script>
			(function() { // DON'T EDIT BELOW THIS LINE
				var d = document, s = d.createElement('script');
				s.src = 'https://terminalroot.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
			})();
		</script>

		-->
	</div>
</section>
