<div class="container-fluid big">
<div class="container medium">
   <div class="row counters">
      <!-- counters start -->			
      <div class="col-lg-3 col-6 text-center">
         <span data-toggle="counter-up">1,754</span>
         <p>+ Xícaras de Café</p>
      </div>
      <div class="col-lg-3 col-6 text-center">
         <span data-toggle="counter-up">3,530</span>
         <p>+ Sessões Iniciadas</p>
      </div>
      <div class="col-lg-3 col-6 text-center">
         <span data-toggle="counter-up">7,983</span>
         <p>+ Comandos Executados</p>
      </div>
      <div class="col-lg-3 col-6 text-center">
         <span data-toggle="counter-up">9,615</span>
         <p>+ Códigos Compilados</p>
      </div>
   </div>
   <!-- counters final -->
</div>
</div>
