<section id="services" class="section-bg" style="background: #ffffff;">
<div class="container">
   <header class="section-header">
      <h3>Nossos Cursos</h3>
      <p>São profundamente planejados e articulados para que você consiga entender de forma sequencial e que haja uma maior compreensão .</p>
   </header>
   <div class="row">
      <div class="col-sm-4">
         <div class="box text-center" style="background: #51468a;">
            <div class="icon"><i class="ion-ios-analytics-outline" ></i></div>
            <h4 class="title">
            	<a href="{{ site.baseurl }}/shell">Curso Intensivo de<br>Shell Script Avançado</a>
            </h4>
            <p><i class="fas fa-terminal"></i> DESENVOLVIMENTO</p>
            <p><sub>/games /proc /animes /inst</sub></p>
            <p>
               <a href="{{ site.baseurl }}/shell">
               <button class="btn btn-saiba-mais">SAIBA MAIS</button>
               </a>
            </p>
         </div>
      </div>
      <div class="col-sm-4">
         <div class="box text-center" style="background: #204a87;">
            <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
            <h4 class="title">
            	<a href="{{ site.baseurl }}/bash">Curso de Shell Script do Iniciante ao Avançado</a>
            </h4>
            <p><i class="fas fa-code"></i> PROGRAMAÇÃO</p>
            <p><sub>/init /gui /web /code</sub></p>
            <p>
               <a href="{{ site.baseurl }}/bash">
               <button class="btn btn-saiba-mais">SAIBA MAIS</button>
               </a>
            </p>
         </div>
      </div>
      <div class="col-sm-4">
         <div class="box text-center" style="background: #ea4335;">
            <div class="icon"><i class="ion-ios-paper-outline"></i></div>
            <h4 class="title">
            	<a href="{{ site.baseurl }}/regex">Curso Completo de Expressões Regulares</a>
            </h4>
            <p><i class="fas fa-cogs"></i> FERRAMENTA</p>
            <p><sub>/pro /math /scie /regex</sub></p>
            <p>
               <a href="{{ site.baseurl }}/regex">
               <button class="btn btn-saiba-mais">SAIBA MAIS</button>
               </a>
            </p>
         </div>
      </div>
   </div>
   <!-- row -->
   <div class="more-courses text-center">
   		<a href="{{ site.baseurl }}/cursos">
      		<button class="btn btn-saiba-mais">CONHEÇA MAIS CURSOS</button>
      	</a>
   </div>
</div>
</section>
<!-- #services -->
