<footer id="footer">
 <div class="footer-top">
    <div class="container">
       <div class="row">
          <div class="col-lg-4 col-md-6 footer-info">
             <p><img src="/assets/img/site/logo-blog.png" alt="" class="img-fluid"></p>
             <br>
             <p>Site sobre GNU/Linux, Desenvolvimento de software, Gentoo, BSD, Open Source e Software Livre . Compra segura e conteúdo confiável via PagSeguro e PayPal .</p>
             <br>
             <img src="/assets/img/site/paycards.png" alt="Bandeiras de cartões" title="Via PagSeguro e PayPal" class="img-footer">
          </div>
          <div class="col-lg-2 col-md-6 footer-links">
             <h4>Links úteis</h4>
             <ul>
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/promo">Promoção</a></li>
                <li><a href="{{ site.baseurl }}/cursos">Cursos</a></li>
                <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
             </ul>
          </div>
          <div class="col-lg-3 col-md-6 footer-contact">
             <h4>Contato</h4>
             <p>
                Londrina, Paraná<br>
                Brasil <br>
		<a style="color:#fff;" href="http://cse.google.com.br/cse?cx=004473188612396442360:qs2ekmnkweq">
			<strong>Pesquisa Google</strong>
		</a>
             </p>
             <div class="social-links">
                <a href="https://youtube.com/TerminalRootTV" class="youtube"><img src="https://img.icons8.com/ios/50/000000/youtube-play.png"></a>
                <a href="https://twitter.com/TerminalRootTV" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="https://facebook.com/TerminalRootTV" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="https://terminalroot.com.br/feed.xml" class="rss"><i class="fa fa-rss"></i></a>                            
             </div>
          </div>
          <div class="col-lg-3 col-md-6 footer-newsletter">
             <h4>Nosso Newsletter</h4>
             <p>Receba nossas novidades por e-mail.</p>
             <div id="form">
                <input type="email" name="email" id="email"><input type="submit" class="register" value="Inscreva-me">
             </div>
          </div>
       </div>
    </div>
 </div>
 <div class="container">
    <div class="copyright">
       &copy; Copyright <strong>Terminal Root</strong>. Todos os Direitos Reservados
    </div>
    <!--
       <div class="credits">        
         By <a href="https://bootstrapmade.com/">BootstrapMade</a> e modificado por <a href="https://www.linkedin.com/in/marcos-oliveira-049327166/">Marcos Oliveira</a>
       </div>
       -->
 </div>
</footer>

<!-- #footer -->
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<!-- Uncomment below i you want to use a preloader -->
<!-- <div id="preloader"></div> -->
<!-- JavaScript Libraries -->
<script src="/assets/lib/jquery/jquery.min.js"></script>
<script src="/assets/lib/jquery/jquery-migrate.min.js"></script>
<script src="/assets/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/lib/easing/easing.min.js"></script>
<script src="/assets/lib/mobile-nav/mobile-nav.js"></script>
<script src="/assets/lib/wow/wow.min.js"></script>
<script src="/assets/lib/waypoints/waypoints.min.js"></script>
<script src="/assets/lib/counterup/counterup.min.js"></script>
<script src="/assets/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/assets/lib/isotope/isotope.pkgd.min.js"></script>
<script src="/assets/lib/lightbox/js/lightbox.min.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/sweetalert.min.js"></script>
<script>
$(document).ready(function(){

	$(document).ready(function(){
		$("a[href^='http']:not([href^='https://terminalroot.com.br'])").attr("target","_blank");
		$("a[href^='http']:not([href^='https://terminalroot.com.br'])").attr("rel","noopener noreferrer");
	});

	$('[data-toggle="popover"]').popover();
	$(".close").click(function(){
		//alert("Clicou");
		//$("#mySearch").hide();
		location.reload();
	});
	$(".register").click(function(){
		var mail = $("#email").val();
		if ( mail != "" ){
			var msg = "Olá, " + mail + "!\n";
		}else{
			var msg = "";
		}
		swal(msg + "Esse campo ainda está em desenvolvimento.\nObrigado por tentar se inscrever.");
	});
});
</script>
{% include search.html %}
