<header id="header" class="fixed-top">
 <div class="container">
    <div class="logo float-left">
       <!-- Uncomment below if you prefer to use an image logo -->
       <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
       <a href="{{site.baseurl}}/" class="scrollto"><img src="/assets/img/site/logo-blog.png" alt="Terminal Root Logomarca" class="img-fluid"></a>
    </div>
    <nav class="main-nav float-right d-none d-lg-block">
       <ul>
          <li class="active"><a href="{{ site.baseurl }}/"><i class="fa fa-home"></i> Home</a></li>
          <li><a href="{{ site.baseurl }}/promo"><i class="fa fa-user"></i> Promoção</a></li>
          <li><a href="{{ site.baseurl }}/cursos"><i class="fa fa-graduation-cap"></i> Cursos</a></li>
          <li><a href="{{ site.baseurl }}/blog"><i class="fa fa-comment"></i> Blog</a></li>
          <li>                  
			<a style="cursor:pointer;" data-toggle="popover" title="Contate-nos:" data-placement="bottom" data-content="contato@terminalroot.com.br">
				<i class="fa fa-paper-plane"></i> Contato
			</a>					
          </li>
          <li>
			<a data-toggle="modal" data-target="#mySearch" class="mySearch" style="cursor:pointer;color:#fff;">
				<i class="fa fa-search" aria-hidden="true"></i> Busca
			</a>
          </li>
       </ul>
    </nav>
    <!-- .main-nav -->
 </div>
</header>
