<div class="container mb-5 pb-5 intro">
  <div class="row mt-5">
    <div class="col-sm-12 text-center px-5">
      <h2 class="pt-5 pb-1">
        <img src="/assets/img/logo.png" style="width: 64px; height:64px;" alt="">
        <span class="intro-title">É hora de aprender Linux e Desenvolvimento.</span>
      </h2>
      <hr>
      <h6 class="py-3">Muita coisa sobre GNU/Linux, Shell Script, C++, Programação. E sistemas como Gentoo, BSD e UNIX. Cursos, Dicas, Tutoriais e mais sobre Desenvolvimento Web e Tecnologia em geral.</h6>
      <a href="{{ base.url }}/cursos" name="button" class="btn btn-lg btn-block mt-4 btn-custom shadow">Conheça agora nossos Cursos</a>
    </div>
  </div>
</div> <!-- CONTAINER INTRO -->
