<section id="intro" class="clearfix">
 <div class="container">
    <div class="intro-img">
       <img src="/assets/img/site/intro-img.png" alt="" class="img-fluid">
    </div>
    <div class="intro-info">
       <h2>Terminal Root<br><span>cursos & tutoriais</span><br>Linux e Desenvolvimento</h2>
       <div>
          <a href="#form" class="btn-get-started scrollto">Inscreva-se</a>
          <a href="#about" class="btn-services scrollto">Saiba mais</a>
       </div>
    </div>
 </div>
</section>
<!-- #intro -->
