<div class="container my-5 py-5 posts">
  <!--<h1 class="text-center">📚 Livros dignos de leitura e para ter na sua prateleira</h1>-->
  <h1 class="text-center"><i class="fa-solid fa-book"></i> Livros dignos de leitura e para ter na sua prateleira</h1>

  <div class="card-deck blog">

    <div class="card bg-dark mb-3" style="min-width: 18rem;">
      <div class="card-header">◉ C++</div>
      <div class="card-body">
        <h5 class="card-title"><a href="https://terminalroot.com.br/2022/03/10-livros-de-cpp-que-vale-a-pena-voce-ler.html">10 Livros de C++ que vale a pena você ler</a></h5>
        <hr>
        <p class="card-text"><a href="https://terminalroot.com.br/2022/03/10-livros-de-cpp-que-vale-a-pena-voce-ler.html">A Linguagem de Programação do Desenvolvedores de Games, Sistemas e Compiladores. Junto com a C, a mais utilizada do mundo</a></p>
      </div>
      <div class="card-footer">
        <small class="text-muted">📅 Mar 15, 2022</small>
      </div>
    </div>

    <div class="card bg-dark mb-3" style="min-width: 18rem;">
      <div class="card-header">◉ Linguagem C</div>
      <div class="card-body">
        <h5 class="card-title"><a href="https://terminalroot.com.br/2022/09/10-livros-da-linguagem-c-que-vale-a-pena-voce-ler.html">10 Livros da Linguagem C que vale a pena você ler</a></h5>
        <hr>
        <p class="card-text"><a href="https://terminalroot.com.br/2022/09/10-livros-da-linguagem-c-que-vale-a-pena-voce-ler.html">C é uma linguagem de programação que é a 'Mãe' de quase todas as outras linguagens de programação de sucesso, e ainda está em alta e é fundamental para entendermos como muita coisa funciona!</a></p>
      </div>
      <div class="card-footer">
        <small class="text-muted">📅 Sep 02, 2022</small>
      </div>
    </div>

    <div class="card bg-dark mb-3" style="min-width: 18rem;">
      <div class="card-header">◉ Embarcados</div>
      <div class="card-body">
        <h5 class="card-title"><a href="https://terminalroot.com.br/2024/04/10-livros-sobre-sistemas-embarcados-que-vale-a-pena-voce-ler.html">10 Livros sobre Sistemas Embarcados que vale a pena você ler</a></h5>
        <hr>
        <p class="card-text"><a href="https://terminalroot.com.br/2024/04/10-livros-sobre-sistemas-embarcados-que-vale-a-pena-voce-ler.html">Livros que abordam os fundamentos e as aplicações avançadas dos sistemas embarcados.</a></p>
      </div>
      <div class="card-footer">
        <small class="text-muted">📅 Abr 30, 2024</small>
      </div>
    </div>

    <div class="card bg-dark mb-3" style="min-width: 18rem;">
      <div class="card-header">◉ GameDev</div>
      <div class="card-body">
        <h5 class="card-title"><a href="https://terminalroot.com.br/2024/05/20-livros-sobre-desenvolvimento-de-jogos-que-vale-a-pena-voce-ler.html">20 Livros sobre Desenvolvimento de Jogos que vale a pena você ler</a></h5>
        <hr>
        <p class="card-text"><a href="https://terminalroot.com.br/2024/05/20-livros-sobre-desenvolvimento-de-jogos-que-vale-a-pena-voce-ler.html">🎮 Aprenda sobre: Unreal Engine 5, Unity, OpenGL, Vulkan, SFML, SDL2, PyGame com Python e técnicas avançadas de GameDev com C++</a></p>
      </div>
      <div class="card-footer">
        <small class="text-muted">📅 Mai 13, 2024</small>
      </div>
    </div>

    <div class="card bg-dark mb-3" style="min-width: 18rem;">
      <div class="card-header">◉ Python</div>
      <div class="card-body">
        <h5 class="card-title"><a href="https://terminalroot.com.br/2022/09/10-livros-de-python-que-vale-a-pena-voce-ler.html">10 Livros de Python que vale a pena você ler</a></h5>
        <hr>
        <p class="card-text"><a href="https://terminalroot.com.br/2022/09/10-livros-de-python-que-vale-a-pena-voce-ler.html">A linguagem de programação dedicada para iniciantes, no entanto, também é muito utilizada por diversos segmentos que requer conhecimentos avançados.</a></p>
      </div>
      <div class="card-footer">
        <small class="text-muted">📅 Set 12, 2022</small>
      </div>
    </div>

    <div class="card bg-dark mb-3" style="min-width: 18rem;">
      <div class="card-header">◉ JavaScript</div>
      <div class="card-body">
        <h5 class="card-title"><a href="https://terminalroot.com.br/2022/09/10-livros-de-javascript-typescript-e-nodejs-que-vale-a-pena-voce-ler.html">10 Livros de JavaScript, TypeScript e Node.js que vale a pena você ler</a></h5>
        <hr>
        <p class="card-text"><a href="https://terminalroot.com.br/2022/09/10-livros-de-javascript-typescript-e-nodejs-que-vale-a-pena-voce-ler.html">A Linguagem da Web, uma das mais adoradas por quase todos os 'tipos' de programares no mundo!</a></p>
      </div>
      <div class="card-footer">
        <small class="text-muted">📅 Set 23, 2022</small>
      </div>
    </div>

    <div class="card bg-dark mb-3" style="min-width: 18rem;">
      <div class="card-header">◉ Java</div>
      <div class="card-body">
        <h5 class="card-title"><a href="https://terminalroot.com.br/2022/11/10-livros-de-java-que-vale-a-pena-voce-ler.html">10 Livros de Java que vale a pena você ler</a></h5>
        <hr>
        <p class="card-text"><a href="https://terminalroot.com.br/2022/11/10-livros-de-java-que-vale-a-pena-voce-ler.html">Aprender Java com livros(e de qualidade) é fundamental para saber de fato como realmente ela funciona.</a></p>
      </div>
      <div class="card-footer">
        <small class="text-muted">📅 Nov 11, 2022</small>
      </div>
    </div>

    <div class="card bg-dark mb-3" style="min-width: 18rem;">
      <div class="card-header">◉ SQL</div>
      <div class="card-body">
        <h5 class="card-title"><a href="LINK">20 Livros sobre Linguagem SQL que você deveria ler</a></h5>
        <hr>
        <p class="card-text"><a href="LINK">Para bancos de dados como: MySQL, MariaDB, Oracle, Microsoft SQL Server e entre outros!</a></p>
      </div>
      <div class="card-footer">
        <small class="text-muted">📅 Mai 25, 2023</small>
      </div>
    </div>

    <div class="card bg-dark mb-3" style="min-width: 18rem;">
      <div class="card-header">◉ Hacker</div>
      <div class="card-body">
        <h5 class="card-title"><a href="https://terminalroot.com.br/2024/05/10-livros-para-aprendizado-avancado-de-pentest-e-seguranca-hackers.html">10 Livros para Aprendizado Avançado de Pentest e Segurança (Hackers)</a></h5>
        <hr>
        <p class="card-text"><a href="https://terminalroot.com.br/2024/05/10-livros-para-aprendizado-avancado-de-pentest-e-seguranca-hackers.html">E mais um livro bônus para você aprender as verdadeiras técnicas dos Hackers.</a></p>
      </div>
      <div class="card-footer">
        <small class="text-muted">📅 Mai 02, 2024</small>
      </div>
    </div>

    <div class="card bg-dark mb-3" style="min-width: 18rem;">
      <div class="card-header">◉ Redes</div>
      <div class="card-body">
        <h5 class="card-title"><a href="https://terminalroot.com.br/2024/05/10-livros-para-aprendizado-avancado-sobre-redes-de-computadores.html">10 Livros para Aprendizado Avançado sobre Redes de Computadores</a></h5>
        <hr>
        <p class="card-text"><a href="https://terminalroot.com.br/2024/05/10-livros-para-aprendizado-avancado-sobre-redes-de-computadores.html">Livros que abordam desde os fundamentos até os tópicos mais avançados em redes de computadores, proporcionando aos leitores um conhecimento abrangente.</a></p>
      </div>
      <div class="card-footer">
        <small class="text-muted">📅 Mai 03, 2024</small>
      </div>
    </div>

    <div class="card bg-dark mb-3" style="min-width: 18rem;">
      <div class="card-header">◉ C#</div>
      <div class="card-body">
        <h5 class="card-title"><a href="https://terminalroot.com.br/2023/01/5-livros-de-csharp-que-vale-a-pena-voce-ler.html">5 Livros de C# que vale à pena você ler</a></h5>
        <hr>
        <p class="card-text"><a href="https://terminalroot.com.br/2023/01/5-livros-de-csharp-que-vale-a-pena-voce-ler.html">Para aprender da forma certa de como programar com essa linguagem.</a></p>
      </div>
      <div class="card-footer">
        <small class="text-muted">📅 Jun 20, 2023</small>
      </div>
    </div>

    <div class="card bg-dark mb-3" style="min-width: 18rem;">
      <div class="card-header">◉ Desenvolvedor(a)</div>
      <div class="card-body">
        <h5 class="card-title"><a href="https://terminalroot.com.br/2022/12/10-livros-que-todoa-programadora-deveria-ler.html">10 Livros que Todo(a) Programador(a) deveria ler</a></h5>
        <hr>
        <p class="card-text"><a href="https://terminalroot.com.br/2022/12/10-livros-que-todoa-programadora-deveria-ler.html">Toda pessoa desenvolvedora/programadora deseja ter mais segurança ao escrever seus códigos e a certeza que está criando da melhor forma.</a></p>
      </div>
      <div class="card-footer">
        <small class="text-muted">📅 Mai 22, 2024</small>
      </div>
    </div>


    <hr>

    <a href="https://terminalroot.com.br/tags/#livros" class="btn btn-lg btn-block mt-4 btn-purple shadow">Veja todos os Livros</a>

  </div>

</div><!-- CONTAINER LIVROS -->
