<div class="container my-5 py-5 posts">
  <h1 class="text-center">Livros</h1>

  <div class="card-deck blog">

    <div class="card bg-dark mb-3" style="min-width: 18rem;">
        <div class="card-header">◉ C++</div>
      <div class="card-body">
        <h5 class="card-title"><a href="https://terminalroot.com.br/2022/03/10-livros-de-cpp-que-vale-a-pena-voce-ler.html">10 Livros de C++ que vale a pena você ler</a></h5>
        <hr>
        <p class="card-text"><a href="https://terminalroot.com.br/2022/03/10-livros-de-cpp-que-vale-a-pena-voce-ler.html">Livros dignos de leitura e para ter na prateleira da sua coleção .</a></p>
      </div>
      <div class="card-footer">
        <!--<small class="text-muted"><span class="iconify" data-icon="flat-color-icons:calendar" data-inline="false"></span> {{ post.date | date_to_string }}</small>-->
        <small class="text-muted">📅 Mar 15, 2022</small>
      </div>
    </div>


    <hr>
    <a href="{{site.baseurl}}/blog" class="btn btn-lg btn-block mt-4 btn-dark shadow">Veja todos os Livros</a>

  </div>

</div><!-- CONTAINER LIVROS -->
