<section id="publicidade" class="section-bg" style="color: #2e3436; background: #fff; padding: 60px 20px;">
  <div class="container text-center">
	  <h1>Conheça</h1>

  <div class="row">
  
<!--      
  <div class="col-sm-12">
  
  	<a href="http://bit.ly/TerminalRootDiostore1" target="_blank" rel="noopener noreferrer">
  		<img class="img img-thumbnail" src="/assets/img/bg/diostore-768.jpg" alt="DioStore" title="DioStore">
  	</a>
  </div>

-->
		<div class="col-sm-4" style="width: 336; height: 280;">
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- Games Root -->
			<ins class="adsbygoogle"
				 style="display:inline-block;width:336px;height:280px"
				 data-ad-client="ca-pub-2838251107855362"
				 data-ad-slot="5351066970"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		</div>
		
		<div class="col-sm-4" style="width: 336; height: 280;">
				<img src="/assets/img/bg/anuncie.jpg" alt="Anuncie Aqui" title="Anuncie Aqui">
		</div>

		<div class="col-sm-4" style="width: 336; height: 280;">
			<a href="http://bit.ly/TerminalRootDiostore1" target="_blank" rel="noopener noreferrer">
				<img src="/assets/img/bg/diostore-ads.jpg" alt="DioStore" title="DioStore">
			</a>
		</div>
		
      
  </div>


  </div>
</section><!-- #relateds -->
