---
layout: page
title: "Curso Moderno de C++"
permalink: "/c++/"
description: 'Aprendar a criar games CLI, programas gráficos para Linux e Windows, AppImages e entre muitas outras coisas.'
---
<main id="main">
   <section id="page-only">
      <div class="container" id="app">
         <hr>
         <div class="text-center">
            <h2>Curso Moderno de C++</h2>
            <h4>Aprendar a Criar Aplicativos Gráficos para Linux e Windows</h4>
            <hr>
            <img src="/assets/img/cpp/cpp-terminalroot.jpg" class="img-thumbnail" alt="Curso de C++ - Aprendar a Criar Aplicativos Gráficos para Linux e Windows">
            <br>
            <hr>
            <p>Essa é a página oficial dos Cursos Moderno de C++ . São três cursos que foram projetados para uma total compreensão de C++ e programação em geral. Além do conteúdo em vídeo, esses cursos lhe oferece também ao total: + de 174 recursos para download, + de 20 horas de conteúdo, PDFs, arquivos e entre outros . São quase 150 vídeos feitos com detalhes importantes se você deseja ingressar na área da programação do jeito certo, criar seus próprios programas para Linux e Windows CLI e com Interface Gráfica. </p>
            <p><strong>Caso deseje comprar todos os cursos, sugiro usar o último botão dessa página que há um : </strong></p>
            <p class="text-danger"><strong style="font-size:30px;"><u>DESCONTO de quase R$ 100,00 para os 3 cursos</u></strong>.</p>
            <p><strong>Veja a descrição de cada um deles abaixo.</strong></p>
         </div>
         <hr>
         <div class="media">
            <img v-bind:src="iniciante.image"  class="mr-3"  v-bind:alt="iniciante.titulo" style="width:200px;height:200px;">
            <div class="media-body">
               <h5 class="mt-0" v-text="iniciante.titulo"></h5>
               <p v-text="iniciante.desc1">/p>
               <p v-text="mensagens.invest"><strong>R$ <span v-text="iniciante.valor"></span></strong></p>
               <p class="mb-0" v-text="iniciante.desc2">/p>
               <hr>
               <div class="text-center">
                  <a v-bind:href="iniciante.paypal" class="btn btn-info btn-lg"><i class="fab fa-paypal"></i> <span v-text="mensagens.paypal"></span></a>
                  <a v-bind:href="iniciante.udemy" class="btn btn-danger btn-lg"><i class="fas fa-graduation-cap"></i> <span v-text="mensagens.udemy"></span></a>
                  <p class="mt-2">
                     <a class="btn btn-outline-info btn-lg" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
                     <i class="fas fa-chevron-down"></i> <strong>Grade</strong> e alguns <strong>Vídeos</strong> do <span v-text="iniciante.titulo"></span>
                     </a>
                  </p>
               </div>
               <div class="collapse" id="collapseExample1">
                  <div class="card card-body" style="background-color: transparent; border:none;">
                     <ul class="list-group">
                        <li v-for="gd1 in grade1" :key="gd1.capitulo" class="list-group-item">
                           <span v-if="gd1.url" v-on:click="videoDisplay(gd1.url)" style="color: #1c71d8;cursor:pointer;" :key="gd1.url">
                              <span v-text="gd1.capitulo"></span>
                              <i v-if="show && videourl == gd1.url" :key="gd1.url" class="fas fa-times-circle"></i> 
                              <i v-else class="fas fa-play-circle" style="font-size:9px;"></i> 
                              <div v-if="show" >
                                 <div v-if="videourl == gd1.url" class="embed-responsive embed-responsive-16by9">
                                    <hr v-if="videourl == gd1.url">
                                    <iframe v-if="videourl == gd1.url" class="embed-responsive-item" v-bind:src="videourl" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                 </div>
                              </div>
                           </span>
                           <span v-if="gd1.url == ''" v-text="gd1.capitulo"></span>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <br>
         <hr>
         <div class="media">
            <img v-bind:src="avancado.image" class="mr-3" v-bind:alt="avancado.titulo" style="width:200px;height:200px;">
            <div class="media-body">
               <h5 class="mt-0" v-text="avancado.titulo">
               </h5>
               <p v-text="avancado.desc1">/p>
               <p v-text="mensagens.invest"><strong>R$ <span v-text="avancado.valor"></span></strong></p>
               <p class="mb-0" v-text="avancado.desc2">/p>
               <hr>
               <div class="text-center">
                  <a v-bind:href="avancado.paypal" class="btn btn-info btn-lg"><i class="fab fa-paypal"></i> <span v-text="mensagens.paypal"></span></a>
                  <a v-bind:href="avancado.udemy" class="btn btn-danger btn-lg"><i class="fas fa-graduation-cap"></i> <span v-text="mensagens.udemy"></span></a>
                  <p class="mt-2">
                     <a class="btn btn-outline-danger btn-lg" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
                     <i class="fas fa-chevron-down"></i> <strong>Grade</strong> e alguns <strong>Vídeos</strong> do <span v-text="avancado.titulo"></span>
                     </a>
                  </p>
               </div>
               <div class="collapse" id="collapseExample2">
                  <div class="card card-body">
                     <ul class="list-group">
                        <li v-for="gd2 in grade2" :key="gd2.capitulo" class="list-group-item">
                           <span v-if="gd2.url" v-on:click="videoDisplay(gd2.url)" style="color: #1c71d8;cursor:pointer;" :key="gd2.url">
                              <span v-text="gd2.capitulo"></span>
                              <i v-if="show && videourl == gd2.url" :key="gd2.url" class="fas fa-times-circle"></i> 
                              <i v-else class="fas fa-play-circle" style="font-size:9px;"></i> 
                              <div v-if="show" >
                                 <div v-if="videourl == gd2.url" class="embed-responsive embed-responsive-16by9">
                                    <hr v-if="videourl == gd2.url">
                                    <iframe v-if="videourl == gd2.url" class="embed-responsive-item" v-bind:src="videourl" allowfullscreen></iframe>
                                 </div>
                              </div>
                           </span>
                           <span v-else v-text="gd2.capitulo"></span>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <br>         
         <hr>
         <div class="media">
            <img v-bind:src="qt.image" class="mr-3" :alt="qt.titulo" :title="qt.titulo" style="width:200px;height:200px;">
            <div class="media-body">
               <h5 class="mt-0" v-text="qt.titulo">
               </h5>
               <p v-text="qt.desc1}}"></p>
               <p v-text="mensagens.invest"><strong>R$ <span v-text="qt.valor"></span></strong></p>
               <p class="mb-0" v-text="qt.desc2"></p>
               <hr>
               <div class="text-center">
                  <a v-bind:href="qt.paypal" class="btn btn-info btn-lg"><i class="fab fa-paypal"></i> <span v-text="mensagens.paypal"></span></a>
                  <a v-bind:href="qt.udemy" class="btn btn-danger btn-lg"><i class="fas fa-graduation-cap"></i> <span v-text="mensagens.udemy"></span></a>
                  <p class="mt-2">
                     <a class="btn btn-outline-success btn-lg" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample3">
                     <i class="fas fa-chevron-down"></i> <strong>Grade</strong> e alguns <strong>Vídeos</strong> do <span v-text="qt.titulo"></span>
                     </a>
                  </p>
               </div>
               <div class="collapse" id="collapseExample3">
                  <div class="card card-body">
                     <ul class="list-group">
                        <li v-for="gd3 in grade3" :key="gd3.capitulo" class="list-group-item">
                           <span v-if="gd3.url" v-on:click="videoDisplay(gd3.url)" style="color: #1c71d8;cursor:pointer;" :key="gd3.url">
                              <span v-text="gd3.capitulo"></span>
                              <i v-if="show && videourl == gd3.url" :key="gd3.url" class="fas fa-times-circle"></i> 
                              <i v-else class="fas fa-play-circle" style="font-size:9px;"></i> 
                              <div v-if="show" >
                                 <div v-if="videourl == gd3.url" class="embed-responsive embed-responsive-16by9">
                                    <hr v-if="videourl == gd3.url">
                                    <iframe v-if="videourl == gd3.url" class="embed-responsive-item" v-bind:src="videourl" allowfullscreen></iframe>
                                 </div>
                              </div>
                           </span>
                           <span v-else v-text="gd3.capitulo"></span>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <br>
         <hr>
         <br>
         <h3 class="text-center">Comprar Pacote com os 3 Cursos de C++ com desconto de quase R$ 100,00 reais</h3>
         <p>Essa é uma promoção fixa para todos os cursos. Em resumo, ao comprar esse pacote o Curso de C++ Moderno para Iniciantes sai inteiramamente grátis além de + um desconto incluso. Aproveite!</p>
         <a href="https://cutt.ly/CppAll" class="btn btn-success btn-lg btn-block"><i class="fab fa-paypal"></i> Adquirir a promoção com PayPal</a>
         <hr>
         <br>
      </div>
      <script>
         var app = new Vue({
           el: '#app',
           data: {
             show: false,
             videourl: "",
             mensagens: {paypal: "Comprar com PayPay", udemy: "Comprar na Udemy", invest: "Valor do investimento: "},
             iniciante: {
               titulo: "Curso de C++ Moderno para Iniciantes",
               image: "/assets/img/cpp/cpp-logo-1.png",
               valor: "79,90",
               desc1: "Esse curso de C++ é para  Quem deseja aprender a criar programas de alta performance e do jeito certo e atualizado. Você aprenderá a criar seus primeiros programas em C++ pelo Terminal e Games e outros.",
               desc2: "Existe uma infinidade de softwares famosos que foram desenvolvidos com C++, alguns deles são: Adobe Systems (todos incluindo o Photoshop), Firefox (e o Thunderbird), Google Chrome, MySQL, Javascript, Nmap, MS Office, LibreOffice, Sistema de pouso do Curiosity em Marte, Opera, OBS Studio, Windows Phone, Apple OS, Unreal Engine, Godot, JVM (Máquina Virtual do Java, bem como compiladores para essa linguagem), Tensorflow e entre outros. Paraver a grade clique no botão abaixo.",
               paypal: "https://cutt.ly/Cpaypal_i",
               udemy: "https://cutt.ly/CppIniciante"
             },
             avancado: {
               titulo: "Curso de C++ Moderno Avançado",
               image: "/assets/img/cpp/cpp-logo-2.png",
               valor: "159,90",
               desc1: "Esse curso de C++ lhe dará todo o alicerce de Programação Orientada a Objetos com C++. Além de diversos exemplos e exercícios e primeiros passos com as bibliotecas mais conhecidas do C++ como: Ncurses para criação de gráficos pelo Terminal, Games cli, GTK+ para criação de seu primeiros programas com Interface Gráfica, Conexão com banco de dados MySQL e SQLite, Desenvolvimento Web com C++, Criação de API, Frameworks WEB e entre outras bibliotecas.",
               desc2: "Além de diversos tutoriais inclusos como: obter informações de data e hora de forma correta; gerar números randômicos em tempo de execução e entre outros. Entender como tudo funciona para que você possa ler códigos fonte em repositórios online de controles de versão, como o GitHub por exemplo e entender a lógica do programa, podendo contribuir de forma padronizada e/ou que outros programadores possam contribuir com seus projetos.",
               paypal: "https://cutt.ly/Cpaypal_a",
               udemy: "https://cutt.ly/CppAvancado"
             },
             qt: {
               titulo: "Curso de Qt Moderno com C++ para Linux e Windows",
               image: "/assets/img/cpp/cpp-logo-3.png",
               valor: "149,90",
               desc1: "Esse curso de C++ é para  Quem deseja aprender a criar aplicativos gráficos no Linux e Windows de maneira prática, simples e da forma correta.",
               desc2: "Nesse Curso aprenderemos como utilizar o Qt no Linux e no Windows. Aprenderemos conceitos importantes e desenvolveremos diversos aplicativos como: Gerenciador de tarefas pessoas(ToDo), Mini Navegador, Editor de Texto, Como Criar um AppImage para qualquer Distribuição Linux, Depoly do GitHub com Travis CI, Como empacotar nossos programas em .deb, para sistemas baseados em APT: Debian, Ubuntu, Linux Mint e similares, Como importar nosso programa para o Windows 10, Como criar um instalador gráfico do nosso programa no Windows 10, Além de exemplos práticos para cada tema abordado.",
               paypal: "https://cutt.ly/Cpaypal_qt",
               udemy: "https://cutt.ly/CppQt"
               
             },
             grade1: [
               { capitulo: "01. Apresentação", url: "https://www.youtube.com/embed/C4HPF6vwZS4"},
               { capitulo: "02. Introdução", url: "https://www.youtube.com/embed/a-WTdgb9mFc"},
               { capitulo: "03. Como o C++ funciona ?", url: ""},
               { capitulo: "04. Primeiro programa em C++", url: ""},
               { capitulo: "05. Comentando seu código", url: ""},
               { capitulo: "06. Criando e entendendo Variáveis em C++", url: ""},
               { capitulo: "07. Operadores e procedência", url: ""},
               { capitulo: "08. Conceitos e criação de Funções", url: ""},
               { capitulo: "09. Headers ou Cabeçalhos", url: ""},
               { capitulo: "10. Como atribuir valores Constantes", url: ""},
               { capitulo: "11. Conversão de dados de tipos", url: ""},
               { capitulo: "12. Arrays - Um estrutura de dados indexados", url: ""},
               { capitulo: "13. Coletando dados informados pelo usuário", url: ""},
               { capitulo: "14. Estruturas que avaliam Condições", url: ""},
               { capitulo: "15. Controles de Fluxo de Repetições", url: ""},
               { capitulo: "16. Diretivas, pré-compiladores", url: ""},
               { capitulo: "17. Obtendo endereços de memória com Ponteiros", url: ""},
               { capitulo: "18. A classe vector", url: ""},
               { capitulo: "19. Argumentos via Linha de Comando", url: ""},
               { capitulo: "20. Alocação Dinâmica de Memória", url: ""},
               { capitulo: "21. Funções Recursivas", url: "https://www.youtube.com/embed/QSqOJ7YAlBM"},
               { capitulo: "22. Sobrecarga de e Ponteiros de Funções", url: ""},
               { capitulo: "23. O que é, como criar e como utilizar Structs", url: ""},
               { capitulo: "24. Tipos Enumerados", url: ""},
               { capitulo: "25. Manipulando arquivos com C++", url: ""},
               { capitulo: "26. Executando comando da Shell via C++", url: ""},
               { capitulo: "27. Utilizando o tipo static", url: ""},
               { capitulo: "28. Exercício 1: Criando uma aplicação de conversão binária e decimal - Parte 1", url: ""},
               { capitulo: "29. Exercício 1: Criando uma aplicação de conversão binária e decimal - Parte 2", url: ""},
               { capitulo: "30. Exercício 2: Desenhando com C++ via Loops - Parte 1", url: ""},
               { capitulo: "31. Exercício 2: Desenhando com C++ via Loops - Parte 2", url: ""},
               { capitulo: "32. Exercício 2: Desenhando com C++ via Loops - Parte 3", url: ""},
               { capitulo: "33. Introdução à biblioteca NCURSES", url: ""},
               { capitulo: "34. Utilizando o Makefile", url: ""},
               { capitulo: "35. Aprendendo a utilizar o CMake, Ninja e Meson", url: ""},
               { capitulo: "36. Conceitos sobre Autotools e o IDE Anjuta", url: ""},
               { capitulo: "37. Boas Práticas e Dicas para escrever melhor em C++", url: ""},
               { capitulo: "38. Obtendo informações e modificando Versões do C++ para seu programa", url: ""},
               { capitulo: "39. return 0;", url: ""}          
             ],
             grade2: [
               { capitulo: "01. Apresentação ", url: "https://www.youtube.com/embed/7cLGQUxDQKU"},
               { capitulo: "02. Introdução ", url: "https://www.youtube.com/embed/v0pn-FC0s64"},
               { capitulo: "03. Herança - O princípio de Orientação à Objetos", url: ""},
               { capitulo: "04. Encapsulamento - Conceitos e Práticas", url: ""},
               { capitulo: "05. Polimorfismo", url: ""},
               { capitulo: "06. Funções Virtuais (Overriden)", url: ""},
               { capitulo: "07. Contrutores e Destrutores - As múltiplas formas", url: ""},
               { capitulo: "08. Funções e classes friend", url: ""},
               { capitulo: "09. Utilizando e criando Namespaces", url: ""},
               { capitulo: "10. Parametrizando tipos de dados com a classe template", url: ""},
               { capitulo: "11. Melhorando desempenho em tempo de compilação com constexpr", url: ""},
               { capitulo: "12. Tratamento de exceções", url: ""},
               { capitulo: "13. Padronização de arquivos e Protótipos de Classes", url: ""},
               { capitulo: "14. Templates de Classes", url: ""},
               { capitulo: "15. Trabalhando com MySQL em C++", url: ""},
               { capitulo: "16. Criando um CRUD MySQL - READ", url: ""},
               { capitulo: "17. Parte 2 - CRUD MySQL - CREATE", url: ""},
               { capitulo: "18. UPDATE - Parte 3 - CRUD MySQL", url: ""},
               { capitulo: "19. Finalizando nosso CRUD MySQL - DELETE", url: ""},
               { capitulo: "20. SQLite com C++ - Instalação e Primeiros passos", url: ""},
               { capitulo: "21. Selecionando dados do SQLite com C++", url: ""},
               { capitulo: "22. Criando um Programa com Interface Gráfica com GTKMM", url: ""},
               { capitulo: "23. Criando uma Mini Calculadora com GLADE e GTKMM", url: ""},
               { capitulo: "24. Experssões Regulares com C++", url: ""},
               { capitulo: "25. Utilizando Classes Abstratas", url: ""},
               { capitulo: "26. Manipuladores e Fluxo de Strings - Parte 1", url: ""},
               { capitulo: "27. Manipuladores e Fluxo de Strings - Parte 2", url: ""},
               { capitulo: "28. Manipuladores e Fluxo de Strings - Parte 3", url: ""},
               { capitulo: "29. Standard Template Library (STL) - Conhecendo os headers", url: ""},
               { capitulo: "30. Classe Enum, Functors e Aritmética com Ponteiros ", url: "https://www.youtube.com/embed/PBD4mdyYOkU"},
               { capitulo: "31. Funções inline e mais dicas para ponteiros", url: ""},
               { capitulo: "32. Utilizando Expressões lambda em C++", url: ""},
               { capitulo: "33. Trabalhando com tipos Data e Hora em C++", url: ""},
               { capitulo: "34. Como gerar números randômicos em tempo de execução", url: ""},
               { capitulo: "35. Conhecendo e Utilizando Ferramentas Online para C++", url: ""},
               { capitulo: "36. Habilitando o Servidor Web para C++", url: ""},
               { capitulo: "37. Obtendo Variáveis de Ambiente via C++ Web", url: ""},
               { capitulo: "38. Criando um Jogo da Forca Passo a Passo - Parte 1", url: ""},
               { capitulo: "39. Parte 2 - Jogo da Forca Passo a Passo", url: ""},
               { capitulo: "40. Parte 3 - Criando um Jogo da Forca Passo a Passo", url: ""},
               { capitulo: "41. Parte 4 - Criando um Jogo da Forca Passo a Passo", url: ""},
               { capitulo: "42. Parte 5 - Criando um Jogo da Forca Passo a Passo", url: ""},
               { capitulo: "43. Parte 6 - Criando um Jogo da Forca Passo a Passo", url: ""},
               { capitulo: "44. return 0;", url: ""}
             ],
             grade3: [
               { capitulo: "01. Apresentação", url: "https://www.youtube.com/embed/y-Lvlp2YWhA"},
               { capitulo: "02. Introdução", url: "https://www.youtube.com/embed/gi4Htu-W-HE"},
               { capitulo: "03. Instalação do Qt e dependências no Linux Mint", url: ""},
               { capitulo: "04. Instalação em qualquer Distro Linux via AppImage", url: ""},
               { capitulo: "05. Instalação no Windows 10", url: ""},
               { capitulo: "06. Primeiro Programa Gráfico com Qt e QMake", url: ""},
               { capitulo: "07. Criando um Hello, World! com QtCreator e QtDesigner", url: ""},
               { capitulo: "08. Aprendendo a mecânica de SINAIS e SLOTS", url: ""},
               { capitulo: "09. Criando Janelas de Mensagens Customizadas para o usuário", url: ""},
               { capitulo: "10. Desenvolvendo Layouts responsivos", url: ""},
               { capitulo: "11. Criando um Formulário de Contato", url: ""},
               { capitulo: "12. Customização de Layout com QPixmap e Labels", url: ""},
               { capitulo: "13. Como Autenticação de usuários e mensagens por Statusbar", url: ""},
               { capitulo: "14. Conteúdo embutido com Resource Files", url: ""},
               { capitulo: "15. Trabalhando com Checkbox e Radiobuttons", url: ""},
               { capitulo: "16. Criando Barras de Menus e Barras de Ferramentas", url: "https://www.youtube.com/embed/4fObtgAE2-s"},
               { capitulo: "17. Utilizando lista de opções", url: ""},
               { capitulo: "18. Adicionado e listando itens com ListWidget", url: ""},
               { capitulo: "19. Como criar programas com abas de conteúdos", url: ""},
               { capitulo: "20. Aprendendo a adicionar Telas de Aberturas", url: ""},
               { capitulo: "21. Criando um Mini Navegador Web e renderizando HTML", url: ""},
               { capitulo: "22. Gerando uma HASH Criptográfica com Qt e C++", url: ""},
               { capitulo: "23. Obtendo horário e data em UTC e local e formatando", url: ""},
               { capitulo: "24. Criando um Editor de Textos - Parte 1", url: ""},
               { capitulo: "25. Criando um Editor de Textos - Parte 2", url: ""},
               { capitulo: "26. Criando um Editor de Textos - Parte 3", url: ""},
               { capitulo: "27. Criando um Editor de Textos - Parte 4", url: ""},
               { capitulo: "28. Criando um Editor de Textos - Parte 5", url: ""},
               { capitulo: "29. Executando comandos Linux via Qt", url: ""},
               { capitulo: "30. Utilizando um Banco de Dados com QtCreator", url: ""},
               { capitulo: "31. Efetuando conexão com SQLite via Qt", url: ""},
               { capitulo: "32. Inserindo dados numa tabela do banco de dados", url: ""},
               { capitulo: "33. Resgatando dados de uma tabela e lista para um Widget", url: ""},
               { capitulo: "34. Criando um Gerenciador de Tarefas Pessoais (ToDo) - Parte 1", url: ""},
               { capitulo: "35. Criando um Gerenciador de Tarefas Pessoais (ToDo) - Parte 2", url: ""},
               { capitulo: "36. Criando um Gerenciador de Tarefas Pessoais (ToDo) - Parte 3", url: ""},
               { capitulo: "37. Criando um Gerenciador de Tarefas Pessoais (ToDo) - Parte 4", url: ""},
               { capitulo: "38. Criando um Gerenciador de Tarefas Pessoais (ToDo) - Parte 5", url: ""},
               { capitulo: "39. Como Criar um AppImage para nosso Programa", url: ""},
               { capitulo: "40. Empacotando nosso programa para .DEB e Como transformar em .RPM", url: ""},
               { capitulo: "41. Deploy no GitHub com Travis CI", url: ""},
               { capitulo: "42. Importando nosso programa para o Windows 10", url: ""},
               { capitulo: "43. Deploy no Windows", url: ""},
               { capitulo: "44. Criando um instalador para o Windows 10", url: ""},
               { capitulo: "45. return 0;", url: ""}          
             ]
           },
           methods: {
               videoDisplay: function(key){
                   this.videourl = key
                   this.show = !this.show
               }
           }
         });
              
              
      </script>
   </section>
</main>
