---
layout: page
title: "Curso Moderno de C++"
permalink: "/c++/"
description: 'Aprendar a criar games CLI, programas gráficos para Linux e Windows, AppImages e entre muitas outras coisas.'
---

<main id="main">
<section id="page-only">

<div class="container" id="app">
         <hr>
         <div class="text-center">
            <h2>Curso Moderno de C++</h2>
            <h4>Aprendar a Criar Aplicativos Gráficos para Linux e Windows</h4>
            <hr>
            <img src="cpp-terminalroot.jpg" class="img-thumbnail" alt="Curso de C++ - Aprendar a Criar Aplicativos Gráficos para Linux e Windows">
            <br><hr>
            <p>Essa é a página oficial dos Cursos Moderno de C++ . São três cursos que foram projetados para uma total compreensão de C++ e programação em geral. Além do conteúdo em vídeo, esses cursos lhe oferece também ao total: + de 174 recursos para download, + de 20 horas de conteúdo, PDFs, arquivos e entre outros . São quase 150 vídeos feitos com detalhes importantes se você deseja ingressar na área da programação do jeito certo, criar seus próprios programas para Linux e Windows CLI e com Interface Gráfica. </p>
            <p><strong>Caso deseje comprar todos os cursos, sugiro usar o último botão dessa página que há um : </strong></p>
            <p class="text-danger"><strong style="font-size:30px;"><u>DESCONTO de quase R$ 100,00 para os 3 cursos</u></strong>.</p>
            <p><strong>Veja a descrição de cada um deles abaixo.</strong></p>
         </div>
         <hr>
         <div class="media">
            <img v-bind:src="iniciante.image"  class="mr-3"  v-bind:alt="iniciante.titulo" style="width:200px;height:200px;">
            <div class="media-body">
               <h5 class="mt-0">{{ iniciante.titulo }}</h5>
               <p>{{ iniciante.desc1 }}</p>
               <p>{{ mensagens.invest }}<strong>R$ {{ iniciante.valor }}</strong></p>
               <p class="mb-0">{{ iniciante.desc2 }}</p>
               <hr>
               <div class="text-center">
                  <a v-bind:href="iniciante.paypal" class="btn btn-info btn-lg"><i class="fab fa-paypal"></i> {{ mensagens.paypal }}</a>
                  <a v-bind:href="iniciante.udemy" class="btn btn-danger btn-lg"><i class="fas fa-graduation-cap"></i> {{ mensagens.udemy }}</a>
                  <p class="mt-2">
                     <a class="btn btn-outline-info btn-lg" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
                     <i class="fas fa-chevron-down"></i> <strong>Grade</strong> e alguns <strong>Vídeos</strong> do {{ iniciante.titulo }}
                     </a>
                  </p>
               </div>
               <div class="collapse" id="collapseExample1">
                  <div class="card card-body">
                     <ul class="list-group">
                        <li v-for="gd1 in grade1" :key="gd1.capitulo" class="list-group-item">
                           <span v-if="gd1.url" v-on:click="videoDisplay(gd1.url)" style="color: #1c71d8;cursor:pointer;" :key="gd1.url">
                              {{ gd1.capitulo }} 
                              <i v-if="show && videourl == gd1.url" :key="gd1.url" class="fas fa-times-circle"></i> 
                              <i v-else class="fas fa-play-circle" class="font-size:9px;"></i> 
                              <div v-if="show" >
                                 <div v-if="videourl == gd1.url" class="embed-responsive embed-responsive-16by9">
                                    <hr v-if="videourl == gd1.url">
                                    <iframe v-if="videourl == gd1.url" class="embed-responsive-item" v-bind:src="videourl" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                 </div>
                              </div>
                           </span>
                           <span v-else>{{ gd1.capitulo }}</span>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <br>
         <hr>
         <div class="media">
            <img v-bind:src="avancado.image" class="mr-3" v-bind:alt="avancado.titulo" style="width:200px;height:200px;">
            <div class="media-body">
               <h5 class="mt-0">{{ avancado.titulo }}</h5>
               <p>{{ avancado.desc1 }}</p>
               <p>{{ mensagens.invest }}<strong>R$ {{ avancado.valor }}</strong></p>
               <p class="mb-0">{{ avancado.desc2 }}</p>
               <hr>
               <div class="text-center">
                  <a v-bind:href="avancado.paypal" class="btn btn-info btn-lg"><i class="fab fa-paypal"></i> {{ mensagens.paypal }}</a>
                  <a v-bind:href="avancado.udemy" class="btn btn-danger btn-lg"><i class="fas fa-graduation-cap"></i> {{ mensagens.udemy }}</a>
                  <p class="mt-2">
                     <a class="btn btn-outline-danger btn-lg" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
                     <i class="fas fa-chevron-down"></i> <strong>Grade</strong> e alguns <strong>Vídeos</strong> do {{ avancado.titulo }}
                     </a>
                  </p>
               </div>
            </div>
         </div>
         <br>
         <div class="collapse" id="collapseExample2">
            <div class="card card-body">
               <ul class="list-group">
                  <li v-for="gd2 in grade2" :key="gd2.capitulo" class="list-group-item">
                     <span v-if="gd2.url" v-on:click="videoDisplay(gd2.url)" style="color: #1c71d8;cursor:pointer;" :key="gd2.url">
                        {{ gd2.capitulo }} 
                        <i v-if="show && videourl == gd2.url" :key="gd2.url" class="fas fa-times-circle"></i> 
                        <i v-else class="fas fa-play-circle" class="font-size:9px;"></i> 
                        <div v-if="show" >
                           <div v-if="videourl == gd2.url" class="embed-responsive embed-responsive-16by9">
                              <hr v-if="videourl == gd2.url">
                              <iframe v-if="videourl == gd2.url" class="embed-responsive-item" v-bind:src="videourl" allowfullscreen></iframe>
                           </div>
                        </div>
                     </span>
                     <span v-else>{{ gd2.capitulo }}</span>
                  </li>
               </ul>
            </div>
         </div>
         <hr>
         <div class="media">
            <img v-bind:src="qt.image" class="mr-3" :alt="qt.titulo" :title="qt.titulo" style="width:200px;height:200px;">
            <div class="media-body">
               <h5 class="mt-0">{{ qt.titulo }}</h5>
               <p>{{ qt.desc1}}</p>
               <p>{{ mensagens.invest }}<strong>R$ {{ qt.valor }}</strong></p>
               <p class="mb-0">{{ qt.desc2 }}</p>
               <hr>
               <div class="text-center">
                  <a v-bind:href="qt.paypal" class="btn btn-info btn-lg"><i class="fab fa-paypal"></i> {{ mensagens.paypal }}</a>
                  <a v-bind:href="qt.udemy" class="btn btn-danger btn-lg"><i class="fas fa-graduation-cap"></i> {{ mensagens.udemy }}</a>
                  <p class="mt-2">
                     <a class="btn btn-outline-success btn-lg" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample3">
                     <i class="fas fa-chevron-down"></i> <strong>Grade</strong> e alguns <strong>Vídeos</strong> do {{ qt.titulo }}
                     </a>
                  </p>
               </div>
            </div>
         </div>
         <br>
         <div class="collapse" id="collapseExample3">
            <div class="card card-body">
               <ul class="list-group">
                  <li v-for="gd3 in grade3" :key="gd3.capitulo" class="list-group-item">
                     <span v-if="gd3.url" v-on:click="videoDisplay(gd3.url)" style="color: #1c71d8;cursor:pointer;" :key="gd3.url">
                        {{ gd3.capitulo }} 
                        <i v-if="show && videourl == gd3.url" :key="gd3.url" class="fas fa-times-circle"></i> 
                        <i v-else class="fas fa-play-circle" class="font-size:9px;"></i> 
                        <div v-if="show" >
                           <div v-if="videourl == gd3.url" class="embed-responsive embed-responsive-16by9">
                              <hr v-if="videourl == gd3.url">
                              <iframe v-if="videourl == gd3.url" class="embed-responsive-item" v-bind:src="videourl" allowfullscreen></iframe>
                           </div>
                        </div>
                     </span>
                     <span v-else>{{ gd3.capitulo }}</span>
                  </li>
               </ul>
            </div>
         </div>
         <hr>
         <br>
         <h3 class="text-center">Comprar Pacote com os 3 Cursos de C++ com desconto de quase R$ 100,00 reais</h3>
         <p>Essa é uma promoção fixa para todos os cursos. Em resumo, ao comprar esse pacote o Curso de C++ Moderno para Iniciantes sai inteiramamente grátis além de + um desconto incluso. Aproveite!</p>
         <a href="https://cutt.ly/CppAll" class="btn btn-success btn-lg btn-block"><i class="fab fa-paypal"></i> Adquirir a promoção com PayPal</a>
         <hr>
         <br>
      </div>

      <script src="/assets/js/vuejscursos.js"></script>

</section>
</main>
