<!DOCTYPE html>
<html lang="pt-br">

{% include head.html %}

<body>
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "url": "https://terminalroot.com.br/",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "https://terminalroot.com.br/tags#{search_term_string}",
        "query-input": "required name=search_term_string"
      }
    }
    </script>

  {% include header.html %}

  {% include intro.html %}

  {% include posts.html %}

  {% include livros.html %}

  {% include tags.html %}

  {% include newsletter.html %}

  {% include footer.html %}

</body>
</html>
