<!DOCTYPE html>
<html lang="pt-br">

{% include head.html %}

<body>

  <div style="background: rgb(249, 246, 0); color: #000; border-bottom: 2px solid rgb(238, 16, 10);" class="text-center">
    <h3 class="py-1">
      <strong><i class="fas fa-bullhorn"></i> TESTE</strong>: <a href="https://terminalroot.com.br/promo">Quando houver <u>algum aviso</u> utilizar essa <i>box</i></a>.
    </h3>
  </div>

  {% include header.html %}

  {% include intro.html %}

  {% include posts.html %}

  {% include tags.html %}

  {% include newsletter.html %}

  {% include footer.html %}

</body>
</html>
