<!DOCTYPE html>
<html lang="pt-br">

{% include head.html %}

<body>

  <div style="max-height: 50px; background: rgb(249, 246, 0); color: #000; border-bottom: 2px solid rgb(238, 16, 10);" class="text-center">
    <p>
      <strong>TESTE</strong>: Quando houver <u>algum aviso</u> utilizar essa <i>box</i>.
    </p>
  </div>

  {% include header.html %}

  {% include intro.html %}

  {% include posts.html %}

  {% include tags.html %}

  {% include newsletter.html %}

  {% include footer.html %}

</body>
</html>
