<!DOCTYPE html>
<html lang="pt-br">

{% include head.html %}

<body>


  <!--  <div style="background: rgb(249, 246, 0); color: #000; border-bottom: 2px solid rgb(238, 16, 10);" class="text-center">
    <h3 class="py-1">
    <strong><i class="fas fa-bullhorn"></i> OFF</strong>:
    <a href="https://terminalroot.com.br/promo" style="color:rgb(2, 11, 19);">
    Mais de <i>50% de desconto</i> em todos os Cursos <u style="color:rgb(4, 36, 148);">https://terminalroot.com.br/promo</u>
    </a>.
    </h3>
    </div>
    -->


  {% include header.html %}

  <div class="container">
    <div class="row mt-5 intro">
      <div class="col-sm-12 text-center px-5">
        <h1 class="pt-5 pb-1">
          <span class="intro-title">{{ page.title }}</span>
        </h1>
        <h2 class="py-3">{{ page.description }}</h2>
      </div>
    </div>
    <hr>
  </div> <!-- CONTAINER INTRO -->

  <div class="container pagina">
    {{ content }}
  </div>


  {% include tags.html %}

  {% include newsletter.html %}

  {% include footer.html %}

</body>
</html>
