---
layout: default
comments: true
---

<section id="post-page-header" class="clearfix">


  <div class="page-post-header-info text-center">
    <h2>{{ page.title }}</h2>
    <h4>{{ page.description }}</h4>
	<p style="color: #babdb6;">
		<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
	</p>



  </div>
</section><!-- #page-post-header -->
  
  <main id="main">
  <section id="post-page">

	  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	  <ins class="adsbygoogle"
	       style="display:block; text-align:center;"
	       data-ad-layout="in-article"
	       data-ad-format="fluid"
	       data-ad-client="ca-pub-2838251107855362"
	       data-ad-slot="7504231210"></ins>
	  <script>
		  (adsbygoogle = window.adsbygoogle || []).push({});
	  </script> 
  	
	  {{ content }}
  
  </section>
  </main>
  
  
  {% include shared.html %}
  
  {% include author.html %}
  
  {% include marketing.html %}
  
  {% include related-posts.html %}
  
  <hr style="max-width:1000px;">
  
  {% include comments.html %}
  
  <hr style="max-width:1000px;">
  
</div>

